#chat_window {
    margin: auto;
    width: 97.5%;
    height: 670px;
    border: 2px solid rgb(151, 226, 226);
    border-radius: 5px;
    background-color: rgb(237, 252, 252);
}

#form_input_button_wrap {
    width: 100%;
}

#form_input_button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 4px 0;
    justify-content: space-around;
}

#form_input {
    width: 80%;
    height: 40px;
    border: transparent;
    background-color: rgb(151, 226, 226);
    color: rgb(0, 83, 83);
    font-size: 1.3em;
    border-radius: 5px;
}

#form_button {
    width: 15%;
    height: 42px;
    border: transparent;
    color: rgb(151, 226, 226);
    background-color: rgb(0, 83, 83);
    font-size: 1.3em;
    border-radius: 5px;
}

.messageElem {
    height: fit-content;
    background-color: rgb(151, 226, 226);
    border: 1px solid rgb(0, 83, 83);
    border-radius: 5px;
    color: rgb(0, 83, 83);
    font-size: 1.2em;
    margin: 3px 20px;
    padding: 10px;
}

.userNameElem{
    margin-top: 5px;
    color: grey;
    padding: 5px;
    font-weight: bold;
}

.timeElem {
    font-size: 0.8em;
    color: grey;
    padding: 5px;
}

.outcoming-message {
    text-align: right;
}
