﻿* {
  outline: none;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

header {
  background-image: url(../img/header-bg.jpg);
  width: 100%;
  height: 700px;
  padding-top: 50px;
  z-index: -5;
}

.navigation_items {
  font-size: 1.2em;
  padding: 0 20px;
  color: white;
}

.navigation_items:hover {
  color: blueviolet;
  transform: scale(1.5);
}

.header_text {
  margin-top: 17%;
  color: white;
}

.header_text h1 {
  font-size: 4em;
  font-weight: bold;
}

.header_text p {
  font-size: 2em;
}

.main_content_header_box {
  margin: 50px 0;
}

.main_content_header_box h1 {
  font-weight: bold;
}

.main_content_header_span {
  color: grey;
  font-size: 1.5em;
}

.counsultancy_container {
  margin: auto;
}

.counsultancy_container p {
  color: grey;
  font-size: 1.2em;
  font-weight: 200;
}

.counsultancy_container_h3 {
  font-size: 2em;
  font-weight: bold;
  color: grey;
  margin-top: 35px;
  margin-bottom: 35px;
}

.hr_header {
  border: 2px solid black;
  width: 4%;
}

.button_services_wrap {
  margin: 50px;
}

.button_services {
  width: 250px;
  height: 50px;
  border-radius: 20px;
  background: linear-gradient(blueviolet, blue);
  border: transparent;
}

.works_container_wrap {
  background-color: lightgrey;
  width: 100%;
}

.main_works_header {
  padding: 30px;
}

.work_card_wrap {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 350px;
  grid-auto-flow: row;
  padding: 50px 0;
}

.work_card_wrap img {
  width: 340px;
}

.img-03 {
  height: 700px;
}

.img-05 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.img-06 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  height: 700px;
}

.img-07 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.references_wrap {
  margin: 50px 0;
}

.references_header {
  margin: 50px 0;
}

.references_card_wrap {
  height: 300px;
}

.references_card {
  width: 70%;
  border: transparent;
}

.references_card_img_wrap_back {
  position: absolute;
  width: 75%;
  right: 90px;
  top: 80px;
  z-index: -1;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.card-text {
  font-size: 1.3em;
  color: gray;
  font-weight: 300;
}

.carousel_buttons {
  margin: 50px 0;
}

.carousel_button {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: transparent;
  background-color: blueviolet;
}

.carousel_button_mid {
  margin: 5px;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: transparent;
  background-color: lightslategray;
}

.forms_wrap {
  width: 100%;
  background-color: black;
  padding: 20px;
}

.contact_header_span {
  font-size: 1.5em;
  color: white;
}

.hr_header_contact {
  border: 2px solid grey;
  width: 4%;
}

.form_styles {
  font-size: 0.8em;
  color: white;
  background-color: black;
  border-radius: 0;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid white;
  line-height: 2em;
}

.form_styles_email {
  margin-right: 20px;
}

.contact_button button {
  margin: 25px;
  background-color: rgb(34, 33, 33);
  color: white;
  width: 175px;
  height: 50px;
  border-radius: 0;
  border: transparent;
}

.footer_container {
  background-image: url(../img/footer-bg.jpg);
  padding: 25px;
}

.footer_adress, .footer_contacts {
  color: white;
  font-weight: bold;
}

.social_media_icons, .contacts_icons {
  margin: 10px;
}

.footer_all_rights_reserved {
  color: white;
  font-size: 0.8em;
}