table {
    margin: auto;
    text-align: center;
    padding: 20px;
    border-spacing: 5px;
}

td {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 200px;
    height: 200px;
}

.task2class {
    width: 100%;
}

.validationMessage {
    padding: 25px;
    margin: auto;
    text-align: center;
    width: 355px;
    height: fit-content;
    border: 1px solid black;
    visibility: hidden;
}

.inputAndButton {
    margin: auto;
    text-align: center;
    padding: 25px;
}

.inputPhone {
    width: 300px;
    height: 30px;
    font-size: 0.8em;
    border: solid 1px black;
}

.inputSubmit {
    height: 34px;
    width: 50px;
}

#task3 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 630px;
    height: 300px;
    border: 2px groove black;
    overflow: hidden;
    background-image: url(assets/court.png);
    background-size: 100%;
}

#ball {
    position: absolute;
    width: 40px;
    height: 40px;
    transition: all 1s;
}

#scoresA, #scoresB {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: transparent;
}

#scoresA {
    left: 34px;
    bottom: 123px;
}

#scoresB {
    right: 35px;
    bottom: 123px;
}

.count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#notification {
    text-align: center;
    font-size: 2em;
    color: tomato;
}