// Write your styles here

body {
    font-family: $sectionFont;
    background-color: $contentBackground;
}

@mixin buttonStyle {
    background-color: $buttonColor;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    width: 120px;
    height: 40px;
    font-weight: bold;
}

@mixin linkStyle ($color, $marging_left, $margin_top, $font_weight) {
    color: $color;
    margin-left:$marging_left;
    margin-top: $margin_top;
    font-weight: $font_weight;
}

header {
    height: 600px;
    background-position: center;
    background-size: cover;
    background-image: url($headerImage);
    border-radius: 0 0 38%;
    z-index: -2;
    }

.landing-logo {
    margin-left: 150px;
    padding-top: 20px;
    display: flex;
    height: 40px;
    color: $fontColorHeader;
    p {
        font-size: 1.1em;
        font-weight: bold;
        margin-left: 5px;
        margin-top: 5px;
        width: 50px;
        color:$fontColorHeader;
    span {
        color:$fontColorHeader;
        margin-left: 3px;
        display: block;
        font-size: 0.5em;
        }
    }
}

.header_heading {
    font-family: $sectionFont;
    font-weight: bold;
    color: $fontColorHeader;
    margin-left: 150px;
    width: 400px;
    font-size: 3.5em;
    position: relative;
    z-index: 1;
    &:before{
        content: "";
        background-color:$textHighlightColor;
        position: absolute;
        width: 240px;
        height:43px;
        left: 0px;
        top: 93px;
        bottom: 0px;
        z-index: -1;
    }
}

.header_text {
    font-family: $sectionCardTextFont;
    line-height: 1.5;
    color: $fontColorHeader;
    width: 650px;
    margin-left: 150px;
    white-space: pre-line;
    z-index: 1;
}

.login {
    @include linkStyle(#FFFFFF, 150px, 30px, bold);
}

.header_button {
    @include buttonStyle;
    margin-left: 150px;
    margin-top: 30px;
}

main {
     margin-left: auto;
     margin-right: auto;
}

.section{
    &_text{
        position: relative;
        font-size: 35px;
        font-family: $sectionFont;
        font-weight: bold;
        text-align: center;
        color: $fontColorWelcome;
        &:before{
            content: "";
            background-color: $textHighlightColor;
            position: absolute;
            width: 162px;
            height: 45px;
            left: 789px;
            bottom: 4px;
            z-index: -1;
        }
    }
}

.section_card_wrap {
    @extend main;
    width: 950px;
}

.section_card_right_container{
    padding-top: 30px;
    width: 635px;
}

.section_card_img {
    margin: 15px;
    width: 425px;
    border-radius: 5px;
}

.section_card_heading {
    color: #FFFFFF;
    text-align: center;
}

.section_card_text {
    font-family: $sectionCardTextFont;
    color: $fontColorSection;
    font-size: 0.9em;
    line-height: 1.5;

    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.section_card {
background-color: $sectionBack;
display: flex;
height: auto;
margin-bottom: 20px;
border-radius: 5px;
    a {
        @include linkStyle($fontColorSection, 240px, 0, normal);
    }
}

.section_banner{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    background: linear-gradient(90deg, map-get($gradientMap, left), map-get($gradientMap, right));
    border-radius: 5px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    padding-right: 150px;
    padding-left: 150px;
    transform: translateY(50%);

    .section_banner_text_wrap {
        margin-right: 30px;
    }
    .section_banner_heading{
        color:$fontColorHeader;
        font-weight: bold;
        font-size: 1.5em;
    }
    .section_banner_text{
        font-family: $sectionCardTextFont;
        color:$fontColorSection;
        font-size: 0.8em;
    }
    .section_banner_button {
        @include buttonStyle;
        margin-top: 40px;
        &:before{
            content: "";
            background-color: $textHighlightColor;
            position: absolute;
            width: 52px;
            height: 40px;
            right: 702px;
            bottom: 70px;
            z-index: -1;
        }
    }
}

.footer {
    background-color: $sectionBack;
    .footer-wrap {
        height: 150px;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        padding-bottom: 30px;
        .footer_logo {
            margin: 0;
            color: #FFFFFF;
            p {
                color: $fontColorSection;
                span {
                    color: $fontColorSection;
                }
            }
        }
    
        .footer_text {
            @extend .footer-cr;
            font-size: 0.8em;
            width: 300px;
            margin: 0;
        }
        .footer-cr {
            font-family: $sectionCardTextFont;
            color: $fontColorSection;
        }
    }
}
