$headerImage:"../img/m-h-night.jpg";
$textHighlightColor:#FF4E33;
$sectionCardTextFont: 'Fresca',	sans-serif;
$sectionFont:'Source Sans Pro', sans-serif;
$contentBackground: #21232E;
$fontColorHeader:#fff;
$fontColorWelcome:white;
$fontColorSection: #BFC1C9;
$buttonColor:#E3AC00;
$sectionBack:#3B3F50; 
$gradientMap:( 
    left: #E3AC00,
    right:#94304F
);