$headerImage:"../img/m-h-day.jpg";
$textHighlightColor:#14A0C7;
$sectionCardTextFont: 'Source Sans Pro', sans-serif;
$sectionFont:'Source Sans Pro', sans-serif;
$contentBackground: #fff;
$fontColorHeader:#2C2F3C;
$fontColorWelcome:#2C2F3C;
$fontColorSection: #BFC1C9;
$buttonColor:#699900;
$sectionBack:#21232E;
$gradientMap:( 
    left: #699900,
    right:#2E5DD3
);
