body {
    width: 100%;
    font-family: 'Pattaya', sans-serif;
}

.input_form_wrap {
    width: 50%;
    margin: auto;
    background-color: #faf0d4;
    border: 2px solid #ffcd9e;
    box-shadow: 0 0 10px 3px #ffcd9e;
    border-radius: 10px;
}

#input_form{
    padding: 50px;
}

.inner_input_wrap{
    text-align: center;
    font-size: 1.1em;
}

.inner_input_wrap p {
    color: #c95325;
    letter-spacing: 1.5px;
}

#enterName, #enterTime, #enterPlace {
width: 50%;
height: 30px;
border-radius: 5px;
border: 1px solid #ffcd9e;
box-shadow: 0 0 3px 2px #ffcd9e;
}

.inner_input_buttons {
    text-align: center;
    padding: 20px;
}

#confirmButton, #converterButton {
    color: #c95325;
    background-color: #ffb773;
    border: solid 1px #ffcd9e;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    box-shadow: 0 0 5px 3px #ffcd9e;
    margin: 10px;
    font-size: 1.1em;
    letter-spacing: 1.5px;
}