body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
}

body {
  background-color: #F4F4F4;
}

.six_boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F4F4F4;
  margin: auto;
}

.boxes_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  flex-basis: 600px;
  height: 300px;
}

.box_two_txt:hover {
  color: #76CDD8;
}

.box_two_txt:hover::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 140px;
  border: 50px solid transparent;
  border-top: 50px solid #76CDD8;
  border-right: 50px solid #76CDD8;
}

.box_one_blue, .box_four_img {
  background-color: #76CDD8;
  color: #ffff;
}

.box_one_blue {
  font-size: 3em;
}

.box_two_txt {
  font-style: italic;
  line-height: 1.5em;
  font-size: 1.1em;
  color: grey;
  background-color: #fff;
}

.box_three_learn h2 {
  color: #76CDD8;
}

.box_three_learn span {
  font-style: italic;
}

.box_three_learn {
  color: grey;
  line-height: 1.5em;
  font-size: 1.1em;
  background-color: #fff;
}

.box_three_learn:hover {
  color: #76CDD8;
}

.box_three_learn:hover::after {
  content: '';
  position: absolute;
  border: 50px solid transparent;
  border-left: 50px solid #76CDD8;
  border-top: 50px solid #76CDD8;
  top: 358px;
  left: 142px;
}

.box_four_img {
  position: relative;
  overflow: hidden;
}

.box_four_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
}

.box_four_img span {
  position: absolute;
  bottom: 15px;
}

.box_five_img {
  background-image: url(../img/image-01.jpg);
  background-size: 650px;
  background-repeat: no-repeat;
}

.box_five_img:hover {
  transform: scale(1.07);
}

.box_six_security {
  padding-top: 0;
  line-height: 1.5em;
  color: grey;
  background-color: #fff;
}

.box_six_security a {
  font-weight: bold;
  text-decoration: none;
}

.box_six_security:hover::after {
  content: '';
  position: absolute;
  top: 708px;
  right: 141px;
  border: 50px solid transparent;
  border-top: 50px solid #76CDD8;
  border-right: 50px solid #76CDD8;
}

.six_boxes_box_button {
  border: none;
  color: #ffff;
  background-color: #019999;
  width: 150px;
  height: 50px;
  font-weight: bold;
  margin: 30px;
}

.box_three_learn button {
  margin-left: auto;
}

.two_boxes {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.boxes_box_two {
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  margin-bottom: 100px;
}

.box_one_lorem {
  background-color: #fff;
  flex-basis: 900px;
}

.box_one_lorem p {
  color: grey;
  line-height: 1.3em;
}

.box_one_lorem h2 {
  color: #76cdd8;
  line-height: 1.5em;
  margin-right: auto;
}

.two_boxes_box_button {
  background-color: #019999;
  width: 150px;
  height: 50px;
  border: none;
  color: #ffff;
  font-weight: bold;
  margin: 15px 15px 15px auto;
}

.img_tennis_court {
  flex-basis: 355px;
  padding: 0;
}

.img_tennis_court img {
  width: 355px;
}

.img_tennis_court:hover {
  transform: scale(1.1);
}

.three_boxes_pricing {
  display: flex;
  justify-content: center;
}

.img_basketball img {
  flex-basis: 433px;
  height: 650px;
}

.img_basketball:hover {
  transform: scale(1.07);
}

.pricing_blocks {
  flex-basis: 433px;
  background-color: #fff;
  height: 650px;
}

.pricing_blocks_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid #019999;
  border-top: none;
  margin: 20px;
}

.pricing_blocks_wrapOne:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.pricing_blocks_wrapOne button:hover {
  background: #24d4d4;
}

.pricing_blocks_wrapTwo button:hover {
  background: #24d4d4;
}

.pricing_blocks_wrapTwo:hover {
  box-shadow: 0 0 0 0.2rem #24d4d4;
  transform: scale(1.05);
}

.hidden_hover {
  display: none;
  color: #24d4d4;
}

.hidden_hover_star {
  color: red;
}

.pricing_blocks_wrapTwo:hover .hidden_hover {
  display: block;
  position: relative;
  bottom: 20px;
}

.pricing_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  background-color: #019999;
  color: #fff;
}

.pricing_header p {
  font-size: 1.5em;
}

.pricing_blocks_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: grey;
}

.pricing_blocks_wrap_button {
  border: none;
  color: #ffff;
  background-color: #019999;
  width: 150px;
  height: 50px;
  font-weight: bold;
  margin: 25px;
}

.application_form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1300px;
}

.application_form_inputs input:hover {
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.application_form_inputs select:hover {
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.application_form_header {
  display: block;
  margin-top: 50px;
  height: 150px;
  background-color: #23D4D4;
  color: #fff;
  font-size: 1.8em;
  padding-left: 300px;
}

.application_form_inputs_wrap {
  display: flex;
  background-color: #fff;
  justify-content: center;
  position: relative;
  top: -50px;
  width: 1000px;
  height: fit-content;
  margin: auto;
}

.application_form_inputs {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding-top: 50px;
}

.application_input_fields {
  width: 400px;
  height: 50px;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.application_input_select {
  width: 408px;
  height: 55px;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.additional_message {
  margin: 25px;
  padding-top: 50px;
  font-size: 1.2em;
}

.additional_message textarea:hover {
  border-color: #24d4d4;
  box-shadow: 0 0 0 0.2rem #24d4d4;
}

.application_form_button_wrap {
  position: relative;
  top: -50px;
  background-color: #fff;
  width: 1200px;
  margin: auto;
}

.application_form_button {
  border: none;
  color: #ffff;
  background-color: #019999;
  width: 150px;
  height: 50px;
  font-weight: bold;
  margin: 20px;
  position: relative;
  left: 45%;
}

.application_form_button:hover {
  background-color: rgb(118, 205, 216)
}

.under_application_block {
  display: flex;
  justify-content: space-around;
  width: 1300px;
  margin: auto;
  position: relative;
  bottom: 125px;
  height: 200px;
  background-color: #019999;
  color: #fff;
  z-index: -5;
  padding-top: 75px;
}

.under_application_block_adress {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 100px;
  position: relative;
  top: -125px;
}