body {
    font-family: Sans-serif;
}

header {
    background-image: url(../img/apples.jpg);
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    height: 740px;
    width: 1300px;
}

.logo_and_nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-left: 50px;
    padding-top: 30px;
    color: white;
    font-size: 0.8em;
    letter-spacing: 3px;
}

.logo>a {
    color: white;
    text-decoration: none;
}

.header-nav {
    padding-right: 50px;
    padding-top: 30px;
    margin-top: 10px;
}

.header-nav>a {
    color: white;
}

a:hover {
    text-shadow: 1px 1px 2px white;
    transition-duration: .2s;
}

.header {
    color: white;
    margin-top: 200px;
    margin-left: 450px;
    margin-right: auto;
}

.header_heading {
    font-size: 2.75em;
    letter-spacing: 5px;
}

.header_heading>span {
    font-size: 2em;
}

.header_text {
    margin-left: 140px;
    margin-top: -40px;
    font-size: 0.8em;
}

.header_button {
    color: white;
    margin-top: 170px;
    margin-left: 120px;
    width: 200px;
    height: 50px;
    background: rgba(0, 0, 0, 0.2);
    border: 2px white solid;
}

.main-header-text {
    margin-top: 75px;
    margin-bottom: 75px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.main-header-text-one {
    font-size: 1.5em;
    margin-left: 50px;
    width: 525px;
}

.main-header-text-one>span {
    font-weight: bold;
}

.main-header-text-two {
    width: 600px;
}

.article-blocks {
    background-color: #F0F0F0;
    padding-top: 75px;
    padding-bottom: 40px;
}

.article-blocks-header {
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    padding-bottom: 40px;
}

.article-blocks-header>span {
    font-weight: bold;
}

.article-block {
    position: relative;
    display: flex;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-block-text {
    color: #343638;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.article-block-img-div-one::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 7.5%;
    min-width: 59.5%;
    min-height: calc(100% - 5px);
    background: radial-gradient(circle, transparent 0%, black 150%);
    z-index: 2;
}

.article-block-img-div-two::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 33%;
    min-width: 59.5%;
    min-height: calc(100% - 5px);
    background: radial-gradient(circle, transparent 0%, black 150%);
    z-index: 2;
}

.img-text>span {
    font-weight: bold;
}

.img-text-one {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    left: 115px;
    bottom: 15px;
    z-index: 3;
}

.img-text-two {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    bottom: 15px;
    left: 455px;
    z-index: 3;
}

.like_button_two {
    color: white;
    position: relative;
    width: 200px;
    height: 30px;
    background-color: #6B6B6B;
    border: white solid 2px;
    right: 80px;
    top: 20px;
    z-index: 3
}

.like_button_one {
    color: white;
    position: relative;
    width: 200px;
    height: 30px;
    background-color: #6B6B6B;
    border: white solid 2px;
    left: 750px;
    top: 20px;
    z-index: 3
}

.input-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 30px 5px 30px 50px;
    background-color: white;
}

.input-block>input {
    width: 700px;
    height: 50px;
    border: #343638 1px solid;
    background-color: #F0F0F0;
}

.input-block>button {
    background-color: #343638;
    height: 54px;
    width: 100px;
    border: none;
    color: white;
}

.input-subscribe {
    font-size: 1.5em;
    margin-left: -30px;
    margin-right: 30px;
}

.input-subscribe>span {
    font-weight: bold;
}

.footer-wrap {
    display: flex;
    justify-content: space-around;
}

.footer-wrap-text-one, .footer-wrap-text-two, .footer-wrap-text-three {
    color: #9E9E9E;
    line-height: 1.5;
    font-size: 0.9em;
    width: 325px;
    margin-right: 10px;
}

.footer-wrap-text-two {
    font-style: italic;
}

.footer-wrap-text-four {
    color: #9E9E9E;
    line-height: 1.5;
    font-size: 0.9em;
}

.Subscribe_button {
    background-color: #343638;
    color: white;
    margin-left: -4px;
    height: 30px;
    border: none;
}

.footer-subscribe {
    border: #343638 1px solid;
    background-color: #F0F0F0;
    height: 24px;
}

.footer-logo-nav {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    color: #9E9E9E;
}

nav>a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

nav {
    margin-top: 16px;
}