button {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 1em;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    margin: 20px;
    padding: 1em 3em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  
    &:hover, &:focus {
      box-shadow: 0 0 30px blueviolet;
      transform: scale(1.25);
      color: #fff;
      outline: 0;
    }
  
    border-radius: 3em;
    border-color: rgba(190, 100, 255, 0.6);
    color: #fff;
    background-image: -webkit-linear-gradient(left, rgba(190, 100, 255, 0.6), rgba(190, 100, 255, 0.6) 5%, #1abc9c 5%, #1abc9c 10%, rgba(190, 100, 255, 0.6) 10%, rgba(190, 100, 255, 0.6) 15%, #1abc9c 15%, #1abc9c 20%, rgba(190, 100, 255, 0.6) 20%, rgba(190, 100, 255, 0.6) 25%, #1abc9c 25%, #1abc9c 30%, rgba(190, 100, 255, 0.6) 30%, rgba(190, 100, 255, 0.6) 35%, #1abc9c 35%, #1abc9c 40%, rgba(190, 100, 255, 0.6) 40%, rgba(190, 100, 255, 0.6) 45%, #1abc9c 45%, #1abc9c 50%, rgba(190, 100, 255, 0.6) 50%, rgba(190, 100, 255, 0.6) 55%, #1abc9c 55%, #1abc9c 60%, rgba(190, 100, 255, 0.6) 60%, rgba(190, 100, 255, 0.6) 65%, #1abc9c 65%, #1abc9c 70%, rgba(190, 100, 255, 0.6) 70%, rgba(190, 100, 255, 0.6) 75%, #1abc9c 75%, #1abc9c 80%, rgba(190, 100, 255, 0.6) 80%, rgba(190, 100, 255, 0.6) 85%, #1abc9c 85%, #1abc9c 90%, rgba(190, 100, 255, 0.6) 90%, rgba(190, 100, 255, 0.6) 95%, #1abc9c 95%, #1abc9c 100%);
    background-image: linear-gradient(to right, rgba(190, 100, 255, 0.6), rgba(190, 100, 255, 0.6) 5%, #1abc9c 5%, #1abc9c 10%, rgba(190, 100, 255, 0.6) 10%, rgba(190, 100, 255, 0.6) 15%, #1abc9c 15%, #1abc9c 20%, rgba(190, 100, 255, 0.6) 20%, rgba(190, 100, 255, 0.6) 25%, #1abc9c 25%, #1abc9c 30%, rgba(190, 100, 255, 0.6) 30%, rgba(190, 100, 255, 0.6) 35%, #1abc9c 35%, #1abc9c 40%, rgba(190, 100, 255, 0.6) 40%, rgba(190, 100, 255, 0.6) 45%, #1abc9c 45%, #1abc9c 50%, rgba(190, 100, 255, 0.6) 50%, rgba(190, 100, 255, 0.6) 55%, #1abc9c 55%, #1abc9c 60%, rgba(190, 100, 255, 0.6) 60%, rgba(190, 100, 255, 0.6) 65%, #1abc9c 65%, #1abc9c 70%, rgba(190, 100, 255, 0.6) 70%, rgba(190, 100, 255, 0.6) 75%, #1abc9c 75%, #1abc9c 80%, rgba(190, 100, 255, 0.6) 80%, rgba(190, 100, 255, 0.6) 85%, #1abc9c 85%, #1abc9c 90%, rgba(190, 100, 255, 0.6) 90%, rgba(190, 100, 255, 0.6) 95%, #1abc9c 95%, #1abc9c 100%);
    background-position: 0 0;
    background-size: 100%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  
    &:hover {
      background-position: 100px;
    }
  }