@import "button";

.hidden {
    display: none;
}

body {
    background-color: rgb(242, 224, 255);
    font-family: 'Montserrat', sans-serif;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    margin: auto;
    background-color: rgb(190, 100, 255);
  }
  
  .listPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #modifyItemHeader {
    text-align: center;
    color: rgb(242, 224, 255);
    font-size: 5em;
  }
  
  #tweetItems h1 {
    color: rgb(242, 224, 255);
    font-size: 5em;
  }
  
  #modifyItemHeader:hover, #tweetItems h1:hover {
    box-shadow: 0 0 30px blueviolet;
    transform: scale(1.25);
  }
  
  #modifyItemInput {
    width: 500px;
    height: 200px;
    background-color: rgb(242, 224, 255);
    font-size: 1.5em;
    color: blueviolet;
  }
  
  .formButtons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    color: blueviolet;
    font-size: 1.5em;
  }