@import "variables";

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background: $var1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	color: $var2;
	font-size: 16px;
	font-family: sans-serif;
}
.game {
	width: 100%;
	max-width: 700px;
	padding: 50px;
	border-radius: 3px;
	h1 {
		font-size: 30px;
		text-align: center;
	}
	h1 {
		font-size: 20px;
	}
}
.counter-block {
	width: 200px;
	margin: 20px auto;
	padding: 10px;
	display: flex;
	justify-content: space-around;
	font-size: 44px;
	span {
		margin: 0 25px;
	}
}
.count {
	position: relative;
	width: 50px;
	text-align: center;
	&::before {
		content: "";
		display: block;
		padding: 3px 8px;
		background: $var3;
		color: $var2;
		font-size: 14px;
		position: absolute;
		top: 50px;
	}
	&-user::before {
		content: "Игрок";
		left: -5px;
	}
	&-comp::before {
		content: "Комп";
		right: -5px;
	}
}
.figure-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 20px;
}
.user-field, .comp-field {
	width: 50%;
	display: flex;
}
.field {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 4px solid $var4;
	cursor: pointer;
	margin: 5px;
	transition: .2s;
	overflow: hidden;
	box-shadow: 3px 3px 5px $var3;
	outline: none;
	&.active {
		background-color: green;
	}
	&.error {
		background-color: red;
	}
}
.result {
	text-align: center;
}
.comp-field {
	justify-content: flex-end;
	&.blink .rock {
		animation: blink 0.3s linear infinite;
	}
	&.blink .scissors {
		animation: blink 0.3s 0.1s linear infinite;
	}
	&.blink .paper {
		animation: blink 0.3s 0.2s linear infinite;
	}
	&.blink {
		animation-play-state: paused;
	}
}
// .rock {
// 	background: url(../img/rock.png) center no-repeat;
// }
// .scissors {
// 	background: url(../img/scissors.png) center no-repeat;
// }
// .paper {
// 	background: url(../img/paper.png) center no-repeat;
// }
@keyframes blink {
	100% {background-color: green;}
}
.buttons {
	padding: 20px 15px;
	text-align: center;
	button {
		margin: 0 8px;
		cursor: pointer;
		border: none;
		border-radius: 30px;
		color: $var2;
		text-transform: uppercase;
		padding: 10px 20px;
		font-weight: bold;
		font-size: 16px;
		box-shadow: 2px 3px 0 $var5;
		transition: .2s;
		outline: none;
		&:hover, &:active {
			transform: translate(1px,1px);
			box-shadow: 1px 1px 0 $var5;
		}
	}
}
.play {
	background: linear-gradient(180deg, #2a9cff, $var5);
}