/* Write your styles here */
.calc_wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.calc {
    border: 3px solid darkblue;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(114, 114, 156);
}

table {
    margin: auto;
    padding: 30px;
    border-spacing: 3px;
}

.display {
    height: 50px;
    background-color: #fff;
    font-size: 2em;
    text-align: right;
}

.calc_logs{
    height: 600px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.calc-btn, .clear-btn, .calculate-btn {
    font-size: 2em;
    width: 75px;
    height: 75px;
    border: 1px solid darkblue;
    border-radius: 5px;
    background-color: rgb(198, 198, 233);
}

.clear-btn:active, .calculate-btn:active, .calc-btn:active {
    transform: scale(0.9);
    background-color: rgb(225, 225, 247);
}

.circle-btn {
    background-color: transparent;
    border: 1px solid red;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.circle-btn-toggle{
    background-color: red;
    border: 1px solid rgb(255, 7, 7);
    border-radius: 20px;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.circle-btn:hover {
    background-color: red;
    border: 1px solid rgb(255, 7, 7);
}

.del-btn {
    background-color: transparent;
    border: transparent;
    color: black;
    margin: 5px;
    font-size: 1.5em;
}

.del-btn:hover{
    color: red;
}

.log{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    width: 400px;
}