#app-root {
    margin: auto;
}

.headerText {
    margin: auto;
    text-align: center;
    color: rgb(0, 92, 57);
    padding: 20px;
}

.textAndRadio {
    margin: auto;
    text-align: center;
}

.radioWrap {
    align-items: center;
    padding: 20px;
}

.textAndSelectWrap {
    padding-bottom: 50px;
}

.tableWrap {
    margin: auto;
    text-align: center;
}

table {
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-spacing: 0;
    text-align: center;
}

th {
    background: #6cd8b8;
    color: rgb(0, 92, 57);
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

th:first-child, td:first-child {
    text-align: left;
}

th:last-child {
    border-right: none;
}

td {
    padding: 10px 20px;
    background: #e4fffd;
}

tr td:last-child {
    border-right: none;
}

tr:hover td {
    background-color: #a4ecd7;
}

.arrowCountry, .arrowArea {
    background-color: #6cd8b8;
    border: none;
    font-size: 1.5em;
    color: yellow;
}