/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body img {
  width: 100% !important;
  max-width: 100% !important;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 40px;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width:768px) {
  .container {
    max-width: 728px;
    padding: 0 20px;
  }
}

header.header {
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  header.header {
    height: 80px;
  }
}

.header-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: inherit;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header-wrap {
    flex-direction: column;
    justify-content: center;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}

.header-logo {
  display: flex;
  max-width: 50px;
}

@media screen and (max-width: 768px) {
  .header-logo {
    height: 80px;
    margin-bottom: 10px;
    height: 35px;
  }
}

.header-logo a {
  margin: auto;
}

.header-nav-wrapper {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .header-nav-wrapper {
    width: 100%;
  }
}

.header-nav {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .header-nav {
    justify-content: center;
  }
}

.header-nav>a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9em;
  margin-right: 2%;
}

.header-nav>a:hover {
  color: #0078aa;
}

.svg-imgs {
  display: flex;
  width: 10%;
}

.svg-imgs>img {
  background: #0078aa;
}

.first-section {
  padding-top: 50px;
  height: 600px;
}

@media screen and (max-width: 768px) {
  .first-section {
    padding-top: 80px;
  }
}

.first-section>.header-text-wrapper {
  background-image: url("../img/header_bg.jpg");
  background-position: 45% 50%;
}

.header-text-wrapper {
  display: flex;
  justify-content: start;
  height: inherit;
}

.header-text {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  .header-text {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .header-text {
    margin: auto;
    max-width: 380px;
    width: 100%;
  }
}

.header_heading {
  padding-top: 45%;
  font-size: 48px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .header_heading {
    font-size: 40px;
  }
}

.header_text {
  color: #999999;
  margin-bottom: 20px;
}

.about {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 40px 0;
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }
}

.about-img-block, .about-clinic {
  width: 50%;
}

.about-img-block {
  padding-right: 20px;
}

@media screen and (max-width: 768px) {
  .about-img-block {
    width: 100%;
    text-align: center;
    padding-right: 0;
  }
}

.about-clinic {
  padding-left: 20px;
  max-width: 450px;
}

@media screen and (max-width: 768px) {
  .about-clinic {
    max-width: calc(100% - 40px);
    width: 100%;
    text-align: center;
  }
}

.about-clinic>p {
  font-weight: bold;
}

.about-clinic-under-header {
  color: #0078aa;
  font-size: 0.8em;
}

.about-clinic-symbol {
  color: #0078aa;
}

.help {
  background-image: url("../img/services_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
}

.help-heading {
  margin: auto;
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.help-underheading {
  font-size: 0.5em;
}

.help-blocks {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.help-block-text>p {
  font-weight: bold;
  margin-bottom: 20px;
}

.help-block {
  width: 30%;
  margin: auto;
  background-color: white;
  margin-bottom: 30px;
  padding: 20px;
}

.help-block-img {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .help-block {
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }
}

.header-links {
  display: flex;
}

.header-link {
  width: 50px;
  height: 50px;
  background-color: #0078aa;
  display: flex;
  border-radius: 100%;
  border: #0078ab 2px solid;
}

.header-link:not(:last-child) {
  margin-right: 15px;
}

.header-link:hover {
  background-color: transparent;
}

.header-link>svg {
  width: 30px;
  height: 30px;
  margin: auto;
}

.header-link-svg:hover {
  fill: #0078aa;
}

.special-offers-header {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 30px;
}

.special-offers-header>span {
  font-size: 0.8em;
}

.special-offers {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .special-offers {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.special-offer {
  width: 260px;
  text-align: center;
  padding: 20px;
}

.special-offers-block {
  background-image: url(../img/pricing_bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .special-offers-block {
    display: flex;
    flex-direction: column;
    background-image: none;
    width: 100%;
  }
}

.special-offer {
  width: 260px;
  text-align: center;
  padding: 20px;
}

.special-offer-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

ul {
  padding: 0;
  line-height: 3;
}

li {
  list-style-type: none;
}

.special-offer-card.side-item {
  padding: 20px 0;
}

.special-offer-card.side-item .special-offer {
  background-color: #47C9E5;
  color: #fff;
}

.special-offer-card:not(.side-item) {
  border: #0078aa solid 1px;
  padding: 20px;
  color: #0078aa;
}

.special-offer-card-wrapper, .special-offer-card-wrapper .special-offer {
  height: 100%;
}

.special-offer-price {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.special-offer-treat {
  font-size: 1em;
  font-style: italic;
}

.special-offer-symbol {
  font-size: 1.5em;
  font-weight: bold;
}

.special-offers-button {
  border: #0078aa solid 2px;
  border-radius: 10px;
  background: #fff;
  width: 100px;
  height: 50px;
  margin: auto;
  color: #0078aa;
  font-weight: bold;
}

.contact-block {
  display: flex;
  margin-top: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contact-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100% !important;
  }
  .contact-block-img {
    width: 100%;
    object-fit: contain;
  }
}

.contact-block-img {
  width: 60%;
}

.contact-block-appointment {
  width: 40%;
  margin-top: 10%;
}

.contact-block-header {
  font-size: 2em;
  font-weight: bold;
}

.contact-block-appointment-form {
  margin: auto;
}

.contact-block-appointment-form>input {
  margin-top: 5%;
  outline: none;
  border-bottom: solid #E8E8E8 2px;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 90%;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .contact-block-appointment-form {
    width: 100%;
  }
}

.contact-block-button {
  border: solid transparent;
  color: #fff;
  border-radius: 10px;
  background: #0078aa;
  width: 100px;
  height: 50px;
  margin-top: 10%;
}

.contact-block-button:hover {
  border: #0078aa solid 2px;
  color: #0078aa;
  border-radius: 10px;
  background: #fff;
}

footer {
  display: flex;
  background-color: #363636;
  height: 8vh;
  color: #fff;
}

footer>span {
  margin: auto;
  text-align: center;
}

.footer-svg {
  position: fixed;
  margin: auto;
  bottom: 5%;
  right: 5%;
}

@media screen and (max-width: 768px) {
  .special-offers {
    background-image: none;
    align-items: center;
  }
  .special-offer-card:not(.side-item) .special-offer {
    padding: 0;
  }
  .special-offer-card {
    width: 100%;
    max-width: 300px;
  }
  .special-offer {
    width: 100%;
  }
}