@media print {
  .tm-sidebar,
  .gallery-container,
  .blocks,
  .carousel,
  .img-contact-us,
  #contact,
  .heading,
  section::before{
    display: none;
    }

  .flex-item{
    width: 150%;
    margin-left: 60px;
    }

  img {
    width: 70%;
    margin-top: -25px;
    }

  .tm-banner-inner{
    outline: none !important;
    }

    .tm-banner{
      padding-top: 20px;
      border: none;
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .tm-section-title{
      color: #231FFF !important;
    }
}
  
    .tm-nav-item-link:hover{
      background-color: #F5F5F5;
    }

    section::before {
        content: '';
        position: absolute;
        float: inline-start;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-left-width: 0px;
        border-right-width: 260px;
        border-top: 30px solid #87CEFA;
       }
    .flex-2-col{
        display: flex;
        align-items: center;
      }

    h2+p:first-of-type{
        font-style: italic;
      }

    .tm-section-description{
        text-indent: 1.5em; 
      }

    p{
        line-height: 2em;
      }
      
    p::first-letter {
        color: #87CEFA;
        font-size: 30px;
      }

    .tm-section-title-box:hover {
        background-color: #87CEFA;
        color: #ffffff;
      }

    .tm-main-nav, .tm-content-box{
        box-shadow: 0px 0px 5px 2px rgb(199, 199, 199);
      }

    .tm-banner-inner{
        outline: 30px solid #F5F5F5;
      }

    .tm-section-title-how-we-do-it{
        color: gainsboro !important;
        letter-spacing: 5px;
      }

    .text::after{
      font-size: 0.75em;
      vertical-align: super;
      color: red;
      content: 'New';
      text-decoration: none;
      display: inline-block;
      }

    li>a {
      color: black;
      text-decoration: none;
      }

    li>a:visited {
      text-decoration: underline;
      color: black;
     }

     li>a:hover{
       color: #87CEFA;
       text-decoration: double underline;
     }
  
     .box-work {
      padding: 10px;
    }

     .box-work:nth-of-type(2n) {
       background-color: #f5f5f5;
     }

    .mandatory-field::after {
      content: "*";
      color: red;
    }

    .submit-btn {
      background-color: #9FD8FB;
      margin-left: 40%;
      border: none;
      color: rgb(203, 253, 255);
      padding: 15px 50px;
      display: block;
      font-size: 1.5em;
    }
    
    button:hover {opacity: 1}
  