body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 1.2em;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

.btn, .btn-dark {
    border-radius: 0%;
}

.navbar-logo {
    font-size: 1.8em;
    font-weight: bold;
}

.joystic-block-content {
    padding: 0 150px;
}

.joystic-block-text {
    white-space: normal;
}

.joystic-block-text h1 {
    font-size: 3em;
}

.joystic-block-text-button {
    background-color: coral;
    border-radius: 5px;
    border: none;
    margin: 20px 0;
}

.joystic-block-text-button:hover {
    background-color: lightcoral;
}

.games-section-dark {
    background-color: #525252;
}

.games-section-light {
    background-color: #F8F9FA;
}

.footer-block {
    background-color: #525252;
    color: #fff;
}

.games-section-dark {
    color: white;
}

.games-section-dark-header, .games-section-dark-card-text {
    text-align: center;
}

.games-section-dark-header, .games-section-light-header {
    padding: 40px 0 0 0;
    line-height: 2em;
}

.games-section-dark-card-text, .games-section-light-card-text {
    margin: 20px 20px 60px 20px;
}

.games-section-light-header, .games-section-light-card-text, .footer {
    text-align: center;
}

.games-section-header {
    font-size: 2.2em;
}

.games-section-card {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card-titles {
    font-weight: bold;
}

.games-section-card-wrap {
    margin: 30px 150px;
}

.footer-block-container {
    padding: 30px 150px;
}

.footer-block-container-text p {
    font-size: 1.5em;
}

.footer-block-container-form {
    width: 100%;
    margin: 5px 0;
}

.footer-block-container-btn {
    width: 100%;
    background-color: coral;
    border: none;
    margin: 5px 0;
    border-radius: 5px;
}

.footer-block-container-btn:hover {
    background-color: lightcoral;
}