body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #fff; }

header {
  height: 600px;
  background-position: center;
  background-size: cover;
  background-image: url("../img/m-h-day.jpg");
  border-radius: 0 0 38%;
  z-index: -2; }

.landing-logo {
  margin-left: 150px;
  padding-top: 20px;
  display: flex;
  height: 40px;
  color: #2C2F3C; }
  .landing-logo p {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 5px;
    width: 50px;
    color: #2C2F3C; }
    .landing-logo p span {
      color: #2C2F3C;
      margin-left: 3px;
      display: block;
      font-size: 0.5em; }

.header_heading {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  color: #2C2F3C;
  margin-left: 150px;
  width: 400px;
  font-size: 3.5em;
  position: relative;
  z-index: 1; }
  .header_heading:before {
    content: "";
    background-color: #14A0C7;
    position: absolute;
    width: 240px;
    height: 43px;
    left: 0px;
    top: 93px;
    bottom: 0px;
    z-index: -1; }

.header_text {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  color: #2C2F3C;
  width: 650px;
  margin-left: 150px;
  white-space: pre-line;
  z-index: 1; }

.login {
  color: #FFFFFF;
  margin-left: 150px;
  margin-top: 30px;
  font-weight: bold; }

.header_button {
  background-color: #699900;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  width: 120px;
  height: 40px;
  font-weight: bold;
  margin-left: 150px;
  margin-top: 30px; }

main, .section_card_wrap {
  margin-left: auto;
  margin-right: auto; }

.section_text {
  position: relative;
  font-size: 35px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #2C2F3C; }
  .section_text:before {
    content: "";
    background-color: #14A0C7;
    position: absolute;
    width: 162px;
    height: 45px;
    left: 789px;
    bottom: 4px;
    z-index: -1; }

.section_card_wrap {
  width: 950px; }

.section_card_right_container {
  padding-top: 30px;
  width: 635px; }

.section_card_img {
  margin: 15px;
  width: 425px;
  border-radius: 5px; }

.section_card_heading {
  color: #FFFFFF;
  text-align: center; }

.section_card_text {
  font-family: "Source Sans Pro", sans-serif;
  color: #BFC1C9;
  font-size: 0.9em;
  line-height: 1.5;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify; }

.section_card {
  background-color: #21232E;
  display: flex;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px; }
  .section_card a {
    color: #BFC1C9;
    margin-left: 240px;
    margin-top: 0;
    font-weight: normal; }

.section_banner {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  background: linear-gradient(90deg, #699900, #2E5DD3);
  border-radius: 5px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  padding-right: 150px;
  padding-left: 150px;
  transform: translateY(50%); }
  .section_banner .section_banner_text_wrap {
    margin-right: 30px; }
  .section_banner .section_banner_heading {
    color: #2C2F3C;
    font-weight: bold;
    font-size: 1.5em; }
  .section_banner .section_banner_text {
    font-family: "Source Sans Pro", sans-serif;
    color: #BFC1C9;
    font-size: 0.8em; }
  .section_banner .section_banner_button {
    background-color: #699900;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    width: 120px;
    height: 40px;
    font-weight: bold;
    margin-top: 40px; }
    .section_banner .section_banner_button:before {
      content: "";
      background-color: #14A0C7;
      position: absolute;
      width: 52px;
      height: 40px;
      right: 702px;
      bottom: 70px;
      z-index: -1; }

.footer {
  background-color: #21232E; }
  .footer .footer-wrap {
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 30px; }
    .footer .footer-wrap .footer_logo {
      margin: 0;
      color: #FFFFFF; }
      .footer .footer-wrap .footer_logo p {
        color: #BFC1C9; }
        .footer .footer-wrap .footer_logo p span {
          color: #BFC1C9; }
    .footer .footer-wrap .footer_text {
      font-size: 0.8em;
      width: 300px;
      margin: 0; }
    .footer .footer-wrap .footer-cr, .footer .footer-wrap .footer_text {
      font-family: "Source Sans Pro", sans-serif;
      color: #BFC1C9; }
