:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}

body {
  display: grid;
  grid: "header header" "content sidebar" "footer footer";
  grid-template-columns: 1fr 25%;
  background-color: #f4f6f9;
  justify-items: center;
  grid-gap: 10px;
}

header {
  display: grid;
  grid-area: header;
  width: 100%;
  box-shadow: 0 1px 5px grey;
  justify-content: center;
  justify-items: center;
}

.header_logo {
  margin: auto;
}

.header_name {
  font: 1.3em 'Dancing Script';
  font-style: italic;
  font-weight: bold;
}

.header_job {
  font: 1em 'Shadows Into Light';
  font-style: italic;
}


main {
  display: grid;
  width: 100%;
  padding: 30px 0;
  justify-content: center;
  grid-template-rows: repeat(8, 8vw);
  grid-template-columns: repeat(8, 8vw);
  grid-auto-flow: dense;
  grid-gap: 10px;
  grid-area: content;
  box-shadow: 0 1px 5px grey;
}

main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery_item_1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery_item_2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: -4;
  grid-row-end: -1;
}

.gallery_item_3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery_item_4 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery_item_5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery_item_7 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 7;
}

.gallery_item_8 {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 6;
}

.gallery_item_9 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: -4;
  grid-row-end: -1;
}

.gallery_item_10 {
  grid-column-start: -4;
  grid-column-end: -1;
  grid-row-start: -3;
  grid-row-end: -1;
}

aside {
  grid-area: sidebar;
}

.aside_div_wrap{ 
  text-align: center;
  box-shadow: 0 1px 5px grey;
}

.aside_div_text_name {
  font: 2em 'Dancing Script';
  font-style: italic;
  font-weight: bold;
}

.aside_div_text_job {
  font: 1.2em 'Shadows Into Light';
  font-style: italic;
  font-weight: bold;
}

.aside_div_text {
  font: 1em 'Shadows Into Light';
  font-style: italic;
}

header img {
  width: 100px;
}

aside img {
  width: 300px;
  position: relative;
  top: 75px;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 125px;
  height: 125px;
  object-fit: cover;
  border-radius: 100%;
}

footer {
  display: grid;
  width: 100%;
  grid-area: footer;
  justify-content: center;
  justify-items: center;
  box-shadow: 0 1px 5px grey;
}

footer img {
  width: 75px;
  justify-self: center;
  align-self: center;
}

.footer_name {
  font: 1em 'Dancing Script';
  font-style: italic;
  font-weight: bold;
}

.footer_job {
  font: 0.8em 'Shadows Into Light';
  font-style: italic;
}

.footer_copyright {
  font: 1em 'Shadows Into Light';
  font-style: italic;
}